[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\f0a3";
}
.icon-chevron-up:before {
  content: "\f0a2";
}
.icon-search:before {
  content: "\e986";
}