<section>
	<div class="container">
	
		<div class="row">
	    <h3>Courses</h3>
		</div>
			
    <div class="row clearfix">
	    <div class="input__wrap">
	      <input type="text" ng-model="tableCtrl.searchTitle">
	    </div>
     		<div class="buttons__wrap">
		      <button>Archive Selected</button>
		      <button ng-click="tableCtrl.addNew()">Add New</button>
       	</div>
    </div>

		<div class="row">
			<table>
				<thead>
					<tr>
						<td>
							Check
						</td>
						<td>
							<a href="#!" ng-click="tableCtrl.sortType='id'; tableCtrl.sortReverse = !tableCtrl.sortReverse">ID</a>
						</td>
						<td>Title</td>
						<td>
							<a href="#!" ng-click="tableCtrl.sortType='author'; tableCtrl.sortReverse = !tableCtrl.sortReverse">Author</a>
						</td>
						<td>
							<a href="#!" ng-click="tableCtrl.sortType='duration'; tableCtrl.sortReverse = !tableCtrl.sortReverse">Duration</a>
						</td>
						<td>Actions</td>
					</tr>
				</thead>
				<tbody make-sotrable>
					<tr ng-repeat="item in tableCtrl.items | orderBy : tableCtrl.sortType : tableCtrl.sortReverse | filter : tableCtrl.searchTitle">
						<td><input type="checkbox" ng-model="item.archived"/></td>
						<td>{{item.id}}</td>
						<td><a href='{{item.link}}' target='_blank'>{{item.title}}</a></td>
						<td>{{item.author}}</td>
						<td>{{item.duration}}</td>
						<td><button ng-click="tableCtrl.edit(item)">Edit</button>
								<button ng-click="tableCtrl.delete(item, key)">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>