//main styles of index.html

.container {
	max-width: 1150px;
	margin: 0 auto;
}

.row {
	width: 100%;
}

// header 'frontend video'
.header {
	height: 100px;
	background: #3f51b5;
	.logo {
		float: left;
		margin-top: 37px;
		text-transform: uppercase;
		color: white;
		h3 {
			margin: 0;
			text-transform: uppercase;
			color: white;
	    font-weight: 400;
	    font-size: 18px;
	    position: relative;
	    // Треугольник css
	    #triangle-right {
		    display: inline-block;
		    position: relative;
		    top: 2px;
		    margin-left: 4px;
	  		margin-right: 2px;
		    border-top: 8px solid transparent;
		    border-left: 14px solid white;
		    border-bottom: 8px solid transparent;
			}
		}
	}
}
// header end

// Login page 
.login-page {
  max-width: 400px;
	height: 570px;
	margin: 0 auto;
	.form-signin {
    margin-top: 50px;
		.form-header{
	    color: #50546d;
	    font-size: 18px;		
		}
	}
}

.label-text {
  color: #707386;
  margin-bottom: 5px;
  font-weight: 500;
}

//Disable button
.btn {
	width: 130px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
	color: #cecece;
	font-weight: 500;
}

// Enable button
.btn-confirm {
  background-color: #f6511e;
  color: white;
  font-weight: 500;
  cursor: pointer;
  pointer-events: auto;
}

// label + input
.form-group {
   height: 100px;
}

// input'ы login & password && addForm & editForm
.form-input {
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 5px;
  height: 40px;
}

// block user info start
.user-wrap {
  float: right;
  width: 100px;
}

.avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 30px;
  img {
    position: relative;
    top: -69%;
    left: -76%;
  }
}

.user-info {
  float: right;
  margin-top: 25px;
  .user-name {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #b5c0fa;
    font-weight: 600;
    font-size: 14px;
	}
	.user-logout {
    display: block;
    color: #b5c0fa;
    font-size: 12px;
	}
}
// block user info end

// main - view (#/table)
.main-section {
	margin-top: 50px;
	.input-wrap {
		float: left;
		.input-search {
	    width: 370px;
	    height: 40px;
	    border: 1px solid #d4d2d2;
	    border-radius: 5px;
	    padding-left: 10px;
	    padding-right: 30px;
		}
	}
	.buttons-wrap {
		float: right;
    position: relative;
	}
}

i.icon-search-pos {
  position: relative;
  top: -30px;
  left: 343px;
  font-size: 20px;
  color: #d4d2d2;
}

h1 {
	color: #50546d;
	margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  .table-head {
    font-size: 15px;
    font-weight: 500;
    color: #50546d;
    tr {
    	height: 50px;
    	border-bottom: 2px solid #dcdcdc;
		}
		a {
	    color: #50546d;
		}
	}
	.table-body {
    tr {
    	height: 50px;
    	border-bottom: 1px solid #dcdcdc;
		}
		.action-button {
	    padding: 0;
	    border: none;
  	  background: white;
			color: #1291ea;
			cursor: pointer;
		}
  }
}

.table-header {
  margin-bottom: 25px;
}

// for archive item
.title-link{
	color: #1291ea;
  cursor: pointer;
}

.archived {
	color: #b5b6bf;
	pointer-events: none;
	a.title-link {
		color: #b5b6bf !important;
	}
}

.unarchived {
	pointer-events: auto;
}

// Form add/edit
.add-item-wrap{
    margin: 0 auto;
    max-width: 400px;
}

.header-add-item {
	padding: 45px 0 30px;
}

.error-text {
	display: inline-block;
	color: red;
}

.form-group-buttons {
  border-top: 1px solid lightgray;
  padding-top: 50px;
}